:root {
  --primary-color: #4dbeff8d; 
  --secondary-color: #e09017; /* warm sand */
  --accent1-color: #1b6db6; /* dark slate blue */
  --accent1-color-transparent: rgba(8, 89, 160, 0.75); /* dark slate blue */
  --accent2-color: #e9c46a; /* light golden yellow */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  background-color: #f5fcff;
}

header nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

header nav ul {
  display: flex;
  list-style: none;
  width: 400px;
}

header nav ul li { 
  flex: 1 1 auto;
  text-align: center;
  padding: 10px;
  background-color: var(--accent1-color);
  margin: 3px;
  border-radius: 4px;
}

header nav ul li:hover {
  background-color: var(--secondary-color);
}

header nav a {
    color: #fff;
    font-size: 0.85rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav a:hover {
      /* text-decoration: underline; */
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

header {
    /* background-color: var(--primary-color); */
    color: var(--accent2-color);
  display: grid;
  grid-template-columns: 320px 1fr;
  align-items: center;
}

header a {
}

header img {
  margin: 20px auto;
  width: 140px;
}

.hero {
  position: relative;
  margin-top: 10px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }


h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

h1 {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: var(--accent1-color-transparent);
  color: #fff; /* white text - make sure there is enough contrast with the background-color */
}

article {
  position: absolute;
  top: 80px;
  margin: 0 0 0 30px;
  width: 780px;
  background-color: #fff;
}

article p, article img {
  margin: 10px;
}

.hero article img {
  float: right;
  width: 120px;
  margin-left: 30px;
}

section {
  /* background-color: var(--primary-color); */
  margin: 20px 0 20px 0;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  margin: 6px 0 10px 0;
  color: var(--accent1-color);
}

.history {
  margin: 0px 
  border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.history figure {
    grid-column: 2/3;
    width: 200px;
}

section .history p {
  color: #333;
  margin-top: 60px;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px 0 40px;
}

.adventure figure {
  width: 120px;
}

.adventure figcaption {
    text-align: center;
    padding-top: 10px;
}

footer { 
    position: relative;
    height: 60px;
    margin-bottom: 40px;
    background-color: var(--primary-color);
}

footer p {
  text-align: center;
  padding: 15px;
}

.socialmedia {
 }

.socialmedia ul {
  position: absolute;
  right: 30px;
  top: 20px;
      display: flex;
}

.socialmedia li {
    list-style-type: none;
  flex: 1 1 auto;
  margin-left: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 25px;
}

.socialmedia a:hover {
    border-bottom: 1px solid var(--accent1-color);
}


