* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.6em;
}

header, footer {
    background-color: #666;
    color: #fff;
    padding: 10px; 
    text-align: center;
    font-size: 1.25rem;
    width: 1200px;
    margin: 0px auto;
}

main {
    max-width: 840px;
    margin: 0px auto;
}

h1 {
    margin: 10px;
    text-align: center;
    padding: 20px;
}

section h2 {
    margin: 10px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}

img { 
    width: 100%;
    height: auto;
    box-shadow: 0 0 25px #ccc;
}

section {
    margin: 20px 0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
}

section p {
    margin: 10px;
}

section p a {
    color: #0071fb;
}

section ul {
    margin-left: 20px;
}

aside {
    width: 400px;
    margin: 0px auto 20px auto;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px;
    background-color: #eee;
    color: #666;
}

aside h2 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}

aside img {
    width: 200px;
    height: auto;
    margin: 20px auto;
    display: block;
}

p {
    padding: 0px;
}


footer {
    font-size: 0.9rem;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}